{{outlet}}
<h1>Tasks</h1>
{{#each task in model}}
	<div class="well">
		<h4>{{#link-to 'tasks.edit' task.id}}{{task.title}}{{/link-to}}</h4>
		<small>Due: {{format-date task.date}}</small>
		<p>{{task.description}}</p>
		<button {{action 'deleteTask' task.id}} class="btn btn-danger">Delete</button>
	</div>
{{/each}}
